.page {
	background-color: #2A2C2F;

	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;

	font-family: 'Inter', Arial, sans-serif;
	font-weight: 400;
}