.lead {
	max-width: 984px;
	min-width: 320px;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 48px;
}

@media screen and (min-width: 1280px) {
	.lead {
		padding-top: 56px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.lead {
		max-width: 928px;
	}
}