.lead__subtitle {
	line-height: 36px;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	margin-top: 0;
	overflow-wrap: break-word;
	margin-bottom: 64px;
	max-width: 640px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
	.lead__subtitle {
		margin-bottom: 56px;
	}
}

@media screen and (max-width: 767px) {
	.lead__subtitle {
		font-size: 16px;
		line-height: 20px;
		max-width: 288px;
		margin-bottom: 40px;
	}
}