.photo-grid__items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
	list-style: none;
	margin: 0;
	padding: 0;
	grid-auto-flow: row;
	gap: 16px;
	width: 100%;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.photo-grid__items {
		gap: 14px;
	}
}

@media screen and (min-width: 321px) and (max-width: 786px) {
	.photo-grid__items {
		margin: 0 0 88px 0;
	}
}

@media screen and (max-width: 320px) {
	.photo-grid__items {
		gap: 12px;
		margin: 0 0 64px 0;
	}
}